/* file import */
@import 'mixing';
@import 'slider';
@import 'job';
@import 'course';

.header {
  padding: 20px 72px;
  font-size: 14px;
  color: #212529;
  font-family: Shabnam;
  @media screen and (max-width: 991px) {
    padding: 16px 20px;
    .right-side ul {
      position: fixed;
      background: #fff;
      right: -300px;
      height: 100%;
      bottom: 0;
      top: 0;
      width: 250px;
      z-index: 11;
      display: flex;
      flex-direction: column;
      align-items: flex-start!important;
      padding: 5px;
      box-shadow: 0 0 5px #ccc;
      transition: all ease .4s;
      padding: 12px!important;
      z-index: 9999;
      li {
        margin-right: 0;
        padding: 10px 5px;
      }
      &.show {
        right: 0;
      }
    }
  }
  .menu-items {
    li {
      margin-right: 40px;
      a {
        font-weight: 400;
      }
    }
  }
  .divider {
    border-right: 1px solid #D2D5DA;
    height: 25px;
  }
  .button-icons {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    position: relative;
    img {
      width: 24px;
      height: 24px;
    }
    .badge {
      position: absolute;
      width: 16px;
      height: 16px;
      top: -5px;
      right: -5px;
      background: #F6AE2D;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #FEFEFE;
      border-radius: 50%;
    }
  }
}

.main-section {
  .item {
    padding: 90px 140px 90px 72px;
    @media screen and (max-width: 980px) {
      padding: 30px 40px 40px 30px;
    }
    background-color: #ffebeb;
    position: relative;
    color: white;
    counter-increment: counter;
    .description {
      width: 450px;
      @media screen and (max-width: 980px) {
        width: 100%;
      }
      p {
        font-size: 20px;
        font-family: Shabnam;
        @media screen and (max-width: 980px) {
          font-size: 16px;
        }
        b {
          font-size: 64px;
          display: block;
          margin-top: 24px;
          font-family: ShabnamBoldFD;
          @media screen and (max-width: 980px) {
            font-size: 25px !important;
          }
        }
        span {
          font-size: 16px;
          font-family: ShabnamBoldFD;
          @media screen and (max-width: 980px) {
            font-size: 14px;
          }
        }
      }
    }
  }
  .slider-section {
    background-color: #9B9280;
    background: radial-gradient(transparent, #0000007a), url('../images/oil-rig.png');
    background-size: cover;
    @include timeline-line-before-start();
    &::after {
      font-size: 24px;
      content: counter(counter, decimal-leading-zero);
      font-family: ShabnamBoldFD;
      width: 16px;
      margin-top: 10px;
      margin-bottom: 10px;
      position: absolute;
      top: 200px; 
      right: 75px;
      z-index: 999;
      @media screen and (max-width: 980px) {
        right: 7px;
      }
    }
    .description {
      padding: 130px 0px;
    }
    .more-link {
      margin-top: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 24px;
      width: 170px;
      height: 48px;
      background: #F6AE2D;
      border-radius: 8px;
      cursor: pointer;
      font-family: ShabnamBoldFD;
      img {
        width: 19px;
        height: 15px;
      }
    }
  }
  .about-section {
    background-color: #242F3E;
    @include timeline-line-before();
    &::after {
      font-size: 24px;
      background-color: #242F3E;
      content: counter(counter, decimal-leading-zero);
      font-family: ShabnamBoldFD;
      width: 16px;
      margin-top: 10px;
      margin-bottom: 10px;
      position: absolute;
      top: 80px; 
      right: 75px;
      z-index: 999;
      color: #D2D5DA;
      @media screen and (max-width: 980px) {
        right: 7px;
      }
    }
    .description {
      p {
        b {
          font-size: 48px;
        }
      }
      &::after {
        content: "";
        width: 2px;
        background-color: #FFFFFF;
        position: absolute;
        top: 90px; 
        height: 211px;
        right: 85px;
        z-index: 999;
        @media screen and (max-width: 980px) {
          right: 15px;
        }
      }
    }
    .right-content {
      width: 650px;
      @media screen and (max-width: 980px) {
        width: 100%;
      }
    }
    .right-description {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 32px;
      font-family: ShabnamBoldFD;
    }
    .left-description {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 32px;
      font-family: Shabnam;
    }
  }
  .courses-section {
    background-color: #FAFAFA;
    @include timeline-line-before();
    &::after {
      font-size: 24px;
      background-color: #FAFAFA;
      content: counter(counter, decimal-leading-zero);
      font-family: ShabnamBoldFD;
      width: 16px;
      margin-top: 10px;
      margin-bottom: 10px;
      position: absolute;
      top: 80px; 
      right: 75px;
      z-index: 999;
      color: #F6AE2D;
      @media screen and (max-width: 980px) {
        right: 7px;
      }
    }
    .description {
      color: #242F3E;
      width: 320px;
      b {
        font-size: 48px !important;
      }
      &::after {
        content: "";
        width: 2px;
        background-color: #F6AE2D;
        position: absolute;
        top: 90px; 
        height: 211px;
        right: 85px;
        z-index: 999;
        @media screen and (max-width: 980px) {
          right: 15px;
        }
      }
    }
    .course-items-box {
      overflow-x: auto;
      padding-bottom: 20px;
      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #ADB5BD;
      }
    }
    .course-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 60px;
      border: 1.5px solid #F6AE2D;
      &.next {
        svg {
          transform: rotate(180deg);
        }
      }
      .back {}
      svg {
        fill: #F6AE2D;
      }
      &.active {
        background: #F6AE2D;
        svg {
          fill: white;
        }
      }
    }
  }
  .jobs-section {
    background-color: #F3F4F6;
    @include timeline-line-before();
    &::after {
      font-size: 24px;
      background-color: #F3F4F6;
      content: counter(counter, decimal-leading-zero);
      font-family: ShabnamBoldFD;
      width: 16px;
      margin-top: 10px;
      margin-bottom: 10px;
      position: absolute;
      top: 80px; 
      right: 75px;
      z-index: 999;
      color: #F6AE2D;
      @media screen and (max-width: 980px) {
        right: 7px;
      }
    }
    .description {
      color: #242F3E;
      &::after {
        content: "";
        width: 2px;
        background-color: #F6AE2D;
        position: absolute;
        top: 126px; 
        height: 130px;
        right: 85px;
        z-index: 999999;
        @media screen and (max-width: 980px) {
          right: 15px;
        }
      }
      b {
        font-size: 48px !important;
      }
    }
    .jobs-button {
      padding: 8px 12px;
      height: 40px;
      border: 1px solid #F6AE2D;
      border-radius: 6px;
      span {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #F6AE2D;
        font-family: ShabnamBoldFD;
      }
      svg {
        fill: #F6AE2D;
        transform: rotate(180deg);
      }
    }
  }
  .tags-section {
    background-color: #fafafa;
    @include timeline-line-before();
    &::after {
      font-size: 24px;
      background-color: #fafafa;
      content: counter(counter, decimal-leading-zero);
      font-family: ShabnamBoldFD;
      width: 16px;
      margin-top: 10px;
      margin-bottom: 10px;
      position: absolute;
      top: 80px; 
      right: 75px;
      z-index: 999;
      color: #F6AE2D;
      @media screen and (max-width: 980px) {
        right: 7px;
      }
    }
    .description {
      color: #242F3E;
    }
    .tag-badge {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 4px 16px;
      gap: 8px;
      height: 32px;
      border: 1px solid #D2D5DA;
      border-radius: 6px;
      color: #4B5563;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      cursor: pointer;
      margin-left: 8px;
      margin-bottom: 8px;
      font-family: ShabnamBoldFD;
    }
  }
}


