/* file import */
.image-slider {
  width: 600px;
  height: 400px;
  position: relative;
}
@media screen and (max-width: 980px) {
  .image-slider {
    width: 300px;
    height: 200px;
  }
}
.image-slider img {
  width: 600px;
  height: 400px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 25px;
  z-index: 10;
  margin-left: 100px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.9s;
  transform: scale(0.8);
  opacity: 0.8;
}
@media screen and (max-width: 980px) {
  .image-slider img {
    width: 300px;
    height: 200px;
    margin-left: 0;
  }
}
.image-slider img.active {
  opacity: 1;
  transform: scale(1);
  margin-left: 0;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: all 0.9s;
}

.job-item {
  padding: 16px 32px;
  background: #FFFFFF;
  border: 1px solid #F3F4F6;
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  position: relative;
  font-family: VazirFD;
}
.job-item img {
  width: 72px;
  height: 87px;
}
.job-item .buliding-icon {
  width: 20px;
  height: 20px;
}
.job-item .job-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #1F2937;
}
.job-item .job-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #6D7280;
}
.job-item .star-icon {
  width: 24px;
  height: 24px;
  left: 32px;
  top: 32px;
  position: absolute;
  cursor: pointer;
}
.job-item .location-info img {
  width: 24px;
  height: 24px;
}
.job-item .location-info span {
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #6D7280;
}
.job-item .briefcase-info img {
  width: 24px;
  height: 24px;
}
.job-item .briefcase-info span {
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #6D7280;
}
.job-item .job-divider {
  border-bottom: 1px solid #E5E7EB;
}
.job-item .job-date {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #9CA3AF;
}
.job-item .job-button {
  padding: 8px 12px;
  height: 40px;
  background: #FEFEFE;
  border: 1px solid #E5E7EB;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.16);
  border-radius: 7px;
}
.job-item .job-button span {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #F6AE2D;
  font-family: VazirFDBold;
}
.job-item .job-button img {
  width: 20px;
  height: 20px;
}

.course-item {
  background: #FFFFFF;
  border: 1px solid #F7F8FA;
  box-shadow: 0px 27px 44px rgba(0, 0, 0, 0.02);
  border-radius: 20px;
  padding: 12px;
  margin-left: 24px;
  scroll-snap-align: start;
}
.course-item .course-image {
  cursor: pointer;
  background: url("../images/curse-item.png");
  background-size: cover;
  border-radius: 10px;
  height: 208px;
  position: relative;
}
.course-item .course-image .play-icon {
  width: 40px;
  height: 40px;
  background: url("../icons/play.png");
  z-index: 201;
}
.course-item .course-image .label {
  position: absolute;
  padding: 4px 16px;
  bottom: 12px;
  right: 12px;
  background: rgba(229, 231, 235, 0.4);
  border-radius: 6px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  font-family: ShabnamBoldFD;
}
@media screen and (max-width: 991px) {
  .course-item .course-image .label {
    font-size: 10px;
  }
}
.course-item .course-educator {
  margin-top: 16px;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: #6A707D;
  font-family: Shabnam;
}
@media screen and (max-width: 991px) {
  .course-item .course-educator {
    font-size: 12px;
  }
}
.course-item .course-educator img {
  width: 24px;
  height: 24px;
}
.course-item .course-title {
  margin-top: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #2E333D;
  font-family: ShabnamBoldFD;
}
@media screen and (max-width: 991px) {
  .course-item .course-title {
    font-size: 18px;
  }
}
.course-item .course-time {
  margin-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: #6A707D;
  font-family: ShabnamBoldFD;
}
@media screen and (max-width: 991px) {
  .course-item .course-time {
    font-size: 12px;
  }
}
.course-item .course-time img {
  width: 24px;
  height: 24px;
}
.course-item button {
  margin-top: 20;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  width: 359px;
  height: 40px;
  background: #F6AE2D;
  border-radius: 6px;
  font-family: ShabnamBoldFD;
}
@media screen and (max-width: 991px) {
  .course-item button {
    width: 285px;
  }
}

html {
  scroll-behavior: smooth;
}

.header {
  padding: 20px 72px;
  font-size: 14px;
  color: #212529;
  font-family: Shabnam;
}
@media screen and (max-width: 991px) {
  .header {
    padding: 16px 20px;
  }
  .header .right-side ul {
    position: fixed;
    background: #fff;
    right: -300px;
    height: 100%;
    bottom: 0;
    top: 0;
    width: 250px;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    padding: 5px;
    box-shadow: 0 0 5px #ccc;
    transition: all ease 0.4s;
    padding: 12px !important;
    z-index: 9999;
  }
  .header .right-side ul li {
    margin-right: 0;
    padding: 10px 5px;
  }
  .header .right-side ul.show {
    right: 0;
  }
}
.header .menu-items li {
  margin-right: 40px;
}
.header .menu-items li a {
  font-weight: 400;
}
.header .divider {
  border-right: 1px solid #D2D5DA;
  height: 25px;
}
.header .button-icons {
  border: 1px solid #E5E7EB;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px;
  position: relative;
}
.header .button-icons img {
  width: 24px;
  height: 24px;
}
.header .button-icons .badge {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -5px;
  right: -5px;
  background: #F6AE2D;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FEFEFE;
  border-radius: 50%;
}

.main-section .item {
  padding: 90px 140px 90px 72px;
  background-color: #ffebeb;
  position: relative;
  color: white;
  counter-increment: counter;
}
@media screen and (max-width: 980px) {
  .main-section .item {
    padding: 30px 40px 40px 30px;
  }
}
.main-section .item .description {
  width: 450px;
}
@media screen and (max-width: 980px) {
  .main-section .item .description {
    width: 100%;
  }
}
.main-section .item .description p {
  font-size: 20px;
  font-family: Shabnam;
}
@media screen and (max-width: 980px) {
  .main-section .item .description p {
    font-size: 16px;
  }
}
.main-section .item .description p b {
  font-size: 64px;
  display: block;
  margin-top: 24px;
  font-family: ShabnamBoldFD;
}
@media screen and (max-width: 980px) {
  .main-section .item .description p b {
    font-size: 25px !important;
  }
}
.main-section .item .description p span {
  font-size: 16px;
  font-family: ShabnamBoldFD;
}
@media screen and (max-width: 980px) {
  .main-section .item .description p span {
    font-size: 14px;
  }
}
.main-section .slider-section {
  background-color: #9B9280;
  background: radial-gradient(transparent, rgba(0, 0, 0, 0.4784313725)), url("../images/oil-rig.png");
  background-size: cover;
}
.main-section .slider-section::before {
  content: "";
  width: 2px;
  background-color: rgba(173, 173, 173, 0.5411764706);
  position: absolute;
  top: 240px;
  bottom: 0;
  right: 85px;
  z-index: 999;
}
@media screen and (max-width: 980px) {
  .main-section .slider-section::before {
    right: 15px;
  }
}
.main-section .slider-section::after {
  font-size: 24px;
  content: counter(counter, decimal-leading-zero);
  font-family: ShabnamBoldFD;
  width: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 200px;
  right: 75px;
  z-index: 999;
}
@media screen and (max-width: 980px) {
  .main-section .slider-section::after {
    right: 7px;
  }
}
.main-section .slider-section .description {
  padding: 130px 0px;
}
.main-section .slider-section .more-link {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  width: 170px;
  height: 48px;
  background: #F6AE2D;
  border-radius: 8px;
  cursor: pointer;
  font-family: ShabnamBoldFD;
}
.main-section .slider-section .more-link img {
  width: 19px;
  height: 15px;
}
.main-section .about-section {
  background-color: #242F3E;
}
.main-section .about-section::before {
  content: "";
  width: 2px;
  background-color: #D2D5DA;
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 85px;
  z-index: 999;
}
@media screen and (max-width: 980px) {
  .main-section .about-section::before {
    right: 15px;
  }
}
.main-section .about-section::after {
  font-size: 24px;
  background-color: #242F3E;
  content: counter(counter, decimal-leading-zero);
  font-family: ShabnamBoldFD;
  width: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 80px;
  right: 75px;
  z-index: 999;
  color: #D2D5DA;
}
@media screen and (max-width: 980px) {
  .main-section .about-section::after {
    right: 7px;
  }
}
.main-section .about-section .description p b {
  font-size: 48px;
}
.main-section .about-section .description::after {
  content: "";
  width: 2px;
  background-color: #FFFFFF;
  position: absolute;
  top: 90px;
  height: 211px;
  right: 85px;
  z-index: 999;
}
@media screen and (max-width: 980px) {
  .main-section .about-section .description::after {
    right: 15px;
  }
}
.main-section .about-section .right-content {
  width: 650px;
}
@media screen and (max-width: 980px) {
  .main-section .about-section .right-content {
    width: 100%;
  }
}
.main-section .about-section .right-description {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  font-family: ShabnamBoldFD;
}
.main-section .about-section .left-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  font-family: Shabnam;
}
.main-section .courses-section {
  background-color: #FAFAFA;
}
.main-section .courses-section::before {
  content: "";
  width: 2px;
  background-color: #D2D5DA;
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 85px;
  z-index: 999;
}
@media screen and (max-width: 980px) {
  .main-section .courses-section::before {
    right: 15px;
  }
}
.main-section .courses-section::after {
  font-size: 24px;
  background-color: #FAFAFA;
  content: counter(counter, decimal-leading-zero);
  font-family: ShabnamBoldFD;
  width: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 80px;
  right: 75px;
  z-index: 999;
  color: #F6AE2D;
}
@media screen and (max-width: 980px) {
  .main-section .courses-section::after {
    right: 7px;
  }
}
.main-section .courses-section .description {
  color: #242F3E;
  width: 320px;
}
.main-section .courses-section .description b {
  font-size: 48px !important;
}
.main-section .courses-section .description::after {
  content: "";
  width: 2px;
  background-color: #F6AE2D;
  position: absolute;
  top: 90px;
  height: 211px;
  right: 85px;
  z-index: 999;
}
@media screen and (max-width: 980px) {
  .main-section .courses-section .description::after {
    right: 15px;
  }
}
.main-section .courses-section .course-items-box {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding-bottom: 20px;
}
.main-section .courses-section .course-items-box::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.main-section .courses-section .course-items-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ADB5BD;
}
.main-section .courses-section .course-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 60px;
  border: 1.5px solid #F6AE2D;
}
.main-section .courses-section .course-button.next svg {
  transform: rotate(180deg);
}
.main-section .courses-section .course-button svg {
  fill: #F6AE2D;
}
.main-section .courses-section .course-button.active {
  background: #F6AE2D;
}
.main-section .courses-section .course-button.active svg {
  fill: white;
}
.main-section .jobs-section {
  background-color: #F3F4F6;
}
.main-section .jobs-section::before {
  content: "";
  width: 2px;
  background-color: #D2D5DA;
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 85px;
  z-index: 999;
}
@media screen and (max-width: 980px) {
  .main-section .jobs-section::before {
    right: 15px;
  }
}
.main-section .jobs-section::after {
  font-size: 24px;
  background-color: #F3F4F6;
  content: counter(counter, decimal-leading-zero);
  font-family: ShabnamBoldFD;
  width: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 80px;
  right: 75px;
  z-index: 999;
  color: #F6AE2D;
}
@media screen and (max-width: 980px) {
  .main-section .jobs-section::after {
    right: 7px;
  }
}
.main-section .jobs-section .description {
  color: #242F3E;
}
.main-section .jobs-section .description::after {
  content: "";
  width: 2px;
  background-color: #F6AE2D;
  position: absolute;
  top: 126px;
  height: 130px;
  right: 85px;
  z-index: 999999;
}
@media screen and (max-width: 980px) {
  .main-section .jobs-section .description::after {
    right: 15px;
  }
}
.main-section .jobs-section .description b {
  font-size: 48px !important;
}
.main-section .jobs-section .jobs-button {
  padding: 8px 12px;
  height: 40px;
  border: 1px solid #F6AE2D;
  border-radius: 6px;
}
.main-section .jobs-section .jobs-button span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #F6AE2D;
  font-family: ShabnamBoldFD;
}
.main-section .jobs-section .jobs-button svg {
  fill: #F6AE2D;
  transform: rotate(180deg);
}
.main-section .tags-section {
  background-color: #fafafa;
}
.main-section .tags-section::before {
  content: "";
  width: 2px;
  background-color: #D2D5DA;
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 85px;
  z-index: 999;
}
@media screen and (max-width: 980px) {
  .main-section .tags-section::before {
    right: 15px;
  }
}
.main-section .tags-section::after {
  font-size: 24px;
  background-color: #fafafa;
  content: counter(counter, decimal-leading-zero);
  font-family: ShabnamBoldFD;
  width: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 80px;
  right: 75px;
  z-index: 999;
  color: #F6AE2D;
}
@media screen and (max-width: 980px) {
  .main-section .tags-section::after {
    right: 7px;
  }
}
.main-section .tags-section .description {
  color: #242F3E;
}
.main-section .tags-section .tag-badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  gap: 8px;
  height: 32px;
  border: 1px solid #D2D5DA;
  border-radius: 6px;
  color: #4B5563;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  margin-left: 8px;
  margin-bottom: 8px;
  font-family: ShabnamBoldFD;
}/*# sourceMappingURL=style.css.map */